@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/site.css" />

}


<div id="outerDiv">
    <br />
    <center>
        <h3 style="align-self:center">Welcome to</h3>
        <h2>THE &nbsp; MOVIES &nbsp; COUNTER</h2>
    </center>
    <marquee>
        <p><blockquote>The Movies counter is your one stop ticket counter for entertainment of every variety, browse our fantastic range of movies. There is literally something for everyone! For all types of movie magic entertainment, we have you covered.</blockquote></p>

    </marquee>

    <div style="align-self:center">
        <center><a class="btn btn-outline-info" ;class="bi bi-pencil-square" href="/Movie">See Movies</a></center>

    </div>

    <center>
        <p> <br /><br /><blockquote><bold>This is a student project </bold></blockquote></p>

        </center>

            <center>
                <footer><p>&copy;ASHAVJEET KUSH RITIK</p></footer>
                <br /><br />
            </center>

</div>
